* {
    margin: 0 auto;

  }
  .navbar {
    margin-right: 0;
    margin-left: 0;
}

/* Si estás utilizando contenedores, también puedes intentar esto */
.container-fluid {
    padding-right: 0;
    padding-left: 0;
}

.owo {

    height: 500px;
}

.container-fluid.begin {
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.left-side {
    width: 40%;
    background-color: rgb(102, 102, 102);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.left-side h1 {
    color: white;
    margin: auto;
}

.left-side .btn {
    margin-bottom: 100px;
    border-radius: 50px;
    padding: 15px 80px; 
    background-color: #261a69;
    border-color: #261a69;
}


.right-side {
     background-image: url('https://www.portalveterinaria.com/upload/20220620110222close-up-on-veterinarian-taking-care-of-pet(1)_pv.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 60%;
}

.navbar-text .bi-telephone {
    color: #000000; /* Cambia esto al color que desees */
}

.segunda ul {
    border-top: 2px solid red; 
    padding: 20px;
}

.segunda {
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.blank-space{
    height: 200px;
    background-color: #ffffff;
}

.tercera {
    height: 500px;
    background-color: #4482af;
}


.cuarta {
    height: 500px;
    background-color: #4482af;
}

.myflexbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 60%;
}

.first-part{
    width: 50%;
    height: 40%;
    text-align: center;
    text-decoration: inherit;
    justify-content: left;
}

.carousel-inner img{
    height: 500px;
}


.carousel.slide{
    width: 60%;

}

.cuarta {
    height: 500px;

}

.cuarta h2{
    text-align: center;
    color: #fff;
}



.cuartabox {
    position: relative;
    height: 400px;
  }
  
  .bluebox {
    position: relative;
    z-index: 2; 

  }

  .space {
    height: 20px;
  }
  
  .whitebox {
    width: 650px;
    height: 300px;
    position: relative;
    background-color: #fff;
    left:300px;
    z-index: 1;
    bottom: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.whitebox ul {
    border-top: 2px solid red; 
    padding: 20px;
}


.quintabox {
    display: flex;
    justify-content: space-between;
    margin-top: 50px
}

.quintabox ul {
    border-top: 2px solid red; 
    padding: 20px;
}

.sexta {
    background-color: purple;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px; 
}


.septima {
    height: 500px;
    background-color: #4482af;
}


.septima .bluebox {
    
}