@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
* {
    margin: 0 auto;

  }
  .navbar {
    margin-right: 0;
    margin-left: 0;
}

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
}

.titlecontent{
	text-align: center;
	height: 100px;
	position: relative;
	top: 100px;;

}

.epictitle {
  font-family: "Permanent Marker", cursive;
  font-weight: 400;
  font-style: normal;
}

.content {
    text-align: center;
    height: 650px;
}

.header {
    position: fixed;
    top: 0;
    width: 100%;
	background-color: #4482af;
    z-index: 100;
}

.btn-secondary {
    background-color: #365b77; /* Color de fondo azul */
    color: white; /* Texto en color blanco para contraste */
    border: 1px solid #3071a9; /* Borde más oscuro para profundidad */
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2); /* Sombra suave para efecto 3D */
    text-shadow: 0 -1px 0 rgba(0,0,0,0.2); /* Sombra en el texto para mejor legibilidad */
    border-radius: 4px; /* Bordes redondeados */
    transition: all 0.3s ease; /* Transición suave para efectos de hover y focus */
}

.btn-secondary:hover, .btn-secondary:focus {
    background-color: #000a23; /* Color de fondo ligeramente más oscuro al pasar el mouse o enfocar */
    border-color: #285e8e; /* Color de borde más oscuro para efecto de profundidad */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); /* Sombra más pronunciada para efecto elevado */
}



.left-side {
    width: 40%;
    background-color: rgb(102, 102, 102);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.left-side h1 {
    color: white;
    margin: auto;
}

.left-side .btn {
    margin-bottom: 100px;
    border-radius: 50px;
    padding: 15px 80px; 
    background-color: #261a69;
    border-color: #261a69;
}


.right-side {
     background-image: url('https://www.portalveterinaria.com/upload/20220620110222close-up-on-veterinarian-taking-care-of-pet(1)_pv.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 60%;
}

.bi-person {
    color: #000000;
}

.navbar-text .bi-telephone {
    color: #000000; /* Cambia esto al color que desees */
}

.segunda ul {
    border-top: 2px solid red; 
    padding: 20px;
}

.segunda {
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.blank-space{
    height: 200px;
    background-color: #ffffff;
}

.tercera {
    height: 500px;
    background-color: #4482af;
}


.cuarta {
    height: 500px;
    background-color: #4482af;
}

.myflexbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 60%;
}

.first-part{
    width: 50%;
    height: 40%;
    text-align: center;
    text-decoration: inherit;
    justify-content: left;
}


.productos {
    border-top: 3px solid black; 
    padding: 20px;
}

.ms {
    position: relative;
    margin-top: 50px;
    right: 180px;
}

/* https://www.spmas.es/wp-content/uploads/2023/06/Clinica-veterinaria.jpg */

.octava {
    height: 500px;
    background-image: url('https://www.spmas.es/wp-content/uploads/2023/06/Clinica-veterinaria.jpg');
    background-size: cover;
    background-attachment: fixed;
}


/* contact Section */

#contact .contact {
	flex-direction: column;
	max-width: 1200px;
	margin: 0 auto;
	width: 90%;
}
#contact .contact-items {
	/* max-width: 400px; */
	width: 100%;
}
#contact .contact-item {
	width: 80%;
	padding: 20px;
	text-align: center;
	border-radius: 10px;
	padding: 30px;
	margin: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	box-shadow: 0px 0px 18px 0 #0000002c;
	transition: 0.3s ease box-shadow;
}
#contact .contact-item:hover {
	box-shadow: 0px 0px 5px 0 #0000002c;
}
#contact .icon {
	width: 70px;
	margin: 0 auto;
	margin-bottom: 10px;
}
#contact .contact-info h1 {
	font-size: 2.5rem;
	font-weight: 500;
	margin-bottom: 5px;
}
#contact .contact-info h2 {
	font-size: 1.3rem;
	line-height: 2rem;
	font-weight: 500;
}
/*End contact Section */

/* Footer */

#footer {
	background-image: linear-gradient(60deg, #10355f 0%, #426b97 100%);
}
#footer .footer {
	min-height: 200px;
	flex-direction: column;
	padding-top: 50px;
	padding-bottom: 10px;
}
#footer h2 {
	color: white;
	font-weight: 500;
	font-size: 1.8rem;
	letter-spacing: 0.1rem;
	margin-top: 10px;
	margin-bottom: 10px;
}
#footer .minilogo {
	width: 250px;
	height: 90%;
}
#footer .social-icon {
	display: flex;
	margin-bottom: 30px;
}
#footer .social-item {
	height: 50px;
	width: 50px;
	margin: 0 5px;
}
#footer .social-item img {
	filter: grayscale(1);
	transition: 0.3s ease filter;
}
#footer .social-item:hover img {
	filter: grayscale(0);
}
#footer p {
	color: white;
	font-size: 1.3rem;
}
/* End Footer */


.tablita {
    width: 60%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    position: relative;
   
}

.tablita th, .tablita td {
    border: 1px solid #070427;
    padding: 8px;
    text-align: left;
}

.tablita th {
    background-color: #8a4e92;
    color: white;
}

.tablita tr:nth-child(even) {
    background-color: #f2f2f2;
}

.tabla-contenedor {
    width: 60%;
    height: 600px; /* Ajusta este valor a la altura máxima que desees para tu tabla */
    overflow-y: auto; /* Habilita el desplazamiento vertical si el contenido excede la altura máxima */
    margin-top: 100px;
}

.tablita {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
}

.tabla {
  height: 800PX;
}


.agregar-datos{
    height: 1100px;
    background-color: #00262a ;
}

.contenido{
    height: 100%;
    width: 50%;
}

.form-control {
    width: 40%;
    height: 40px; /* Ajusta este valor según tus necesidades */
}

#email {
   position: relative;
   width: 35%;
   left: 270px;
}

.form-label  {
    color: white;
 

}

.information {
	font-family: "Bungee Spice", sans-serif;
	font-weight: 400;
	font-style: normal;
    line-height: 130%;
    color: #4c962f;
    text-align: center;
    margin-top: 104px;
    margin-bottom: 60px;
    position: relative;
    top: 50px;

  }




